{% extends 'base.html' %}

{% block title %}
    Seznam Hráčů
{% endblock %}

{% block content %}
    <h2 class="bg-primary text-dark text-center jumbotron text-uppercase p-1">seznam hráčů</h2>
    <div class="row p-3">
    {% for hrac in hraci %}
        <div class="col-lg-2 col-md-3 ">
            <img src="{{ hrac.fotografie.url }}"
                 class="img-fluid rounded"
                 alt=" {{ hrac.jmeno }} {{ hrac.prijmeni }}">
            <p ><a href="{% url 'hrac_detail' hrac.id %}">{{ hrac.jmeno }} {{ hrac.prijmeni }}</a></p>
        </div>
    {% endfor %}
    </div>
{% endblock %}